.event-description {
    margin-top: 30px;
  }
  .event-sidebar{
    position: absolute;
    top: -10%;
    
  }
  .event-description h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 90px;
  }
  .event-description p {
    font-size: 0.95rem;
    line-height: 1.7;
    margin-top: 20px;
  }
  .event-info li {
    margin-bottom: 20px;
  }
  .event-info i {
    font-size: 1.2rem;
    color: #000000;
  }
  .btn-view-museum {
    background: var(--primary, #0e3121);
    border-style: solid;
    border-color: var(--primary, #0e3121);
    border-width: 1px;
    padding: 10px 40px;
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    gap: 10px;
  }
  .btn-booking {
    background: var(--primary, #0e3121);
    border-style: solid;
    border-color: var(--primary, #0e3121);
    border-width: 1px;
    padding: 10px 70px;
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    gap: 10px;
  }
  /* .btn{
    border-color: var(--primary, #0e3121);
  } */
  .btn:hover {
    border-color: #0e3121;
  }
  @media (max-width: 768px){
    .event-sidebar{
      position: absolute;
      top: -50px;
      left: 0;
      
    }
  }
  @media (max-width: 480px){
    .event-sidebar{
      position: absolute;
      top: 55%;
      left: 0;
    }
  }