.logo {
  margin-left: 10rem;
}
.with-blur-background {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional semi-transparent background color for visibility */
  backdrop-filter: blur(5px); /* Adjust blur intensity as needed */
  position: absolute;
  width: 100%;
  top: 0;
}