<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="varss.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <title>Document</title>
</head>
<body>
  <div class="group-8">

    <!-- WELCOME & ABOUT US SECTION -->
    <div class="frame-30">
      <div class="hero-38"> <!-- WELCOME -->
        <div class="hero">
          <img class="image-1" src="./img/keraton-tari.png" />
          <div class="gradient-dark"></div>
          <div class="frame-14">
            <div class="frame-28">
              <div class="label">Selamat datang di</div>
              <div class="frame-29">
                <div class="meet-our-team-of-exp">
                  Museum Pariwisata Kagungan Dalem Keraton Yogyakarta
                </div>
                <div class="let-s-talk-about-how">
                  Temukan Keagungan Tradisi, Keindahan, dan Pengetahuan di Keraton
                  Yogyakarta
                </div>
              </div>
            </div>
            <div class="button">
              <div class="text-lg">Rencanakan Kunjungan Anda</div>
              <img
                class="icon-huge-arrow-right-forward"
                src="./icon/arrow-right-gold.svg"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- ABOUT US -->
      <div class="frame-22">
        <div class="frame-19">
          <div class="frame-36">
            <div class="frame-46">
              <div class="badge">
                <div class="badge2">About Us</div>
              </div>
              <div class="meet-our-team-of-exp2">
                Selamat Datang di Pariwisata Kagungan Dalem Keraton Yogyakarta
              </div>
            </div>
            <div class="button2">
              <div class="text">Selengkapnya</div>
              <img class="chevron-right" src="./icon/chevron-right-gold.svg" />
            </div>
          </div>
          <div class="paragraph">
            Keraton Yogyakarta, sebuah tempat di mana sejarah, budaya, dan
            keindahan berpadu harmonis. Kami dengan hangat menyambut Anda untuk
            menjelajahi istana megah ini, pusat dari kebudayaan Jawa yang kaya dan
            penuh warna. Di sini, Anda akan dibawa kembali ke masa lampau,
            merasakan aura kebesaran Kesultanan Yogyakarta, dan menyaksikan
            koleksi artefak serta seni yang mempesona. Nikmati setiap sudut Kraton
            dengan tur edukatif dan pengalaman tak terlupakan yang telah kami
            siapkan khusus untuk Anda. Selamat menikmati perjalanan yang sarat
            akan pengetahuan dan keindahan di Keraton Yogyakarta!
            <br />
          </div>
        </div>
      </div>
    </div> <!-- END WELCOME & ABOUT US SECTION -->

    <!-- NAVBAR -->
    <div class="play-button"></div>
    <div class="navigation">
      <div class="navigation2">
        <div class="logo-putih-1">
          <img class="clip-path-group" src="./icon/logo-putih.svg" />
        </div>
        <div class="button3">
          <div class="text2">Hubungi Kami</div>
        </div>
        <div class="frame-13"></div>
        <div class="navbar">
          <div class="base-navbar-menu">
            <div class="inner">
              <div class="nav-menu">Home</div>
            </div>
          </div>
          <div class="base-navbar-menu">
            <div class="inner2">
              <div class="nav-menu2">Tentang Kami</div>
            </div>
          </div>
          <div class="base-navbar-menu">
            <div class="inner2">
              <div class="nav-menu2">Destinasi</div>
              <img
                class="icon-feather-chevron-dropdown"
                src="./icon/chevron-down-white.svg"
              />
            </div>
          </div>
          <div class="base-navbar-menu">
            <div class="inner2">
              <div class="nav-menu2">Event</div>
            </div>
          </div>
          <div class="base-navbar-menu">
            <div class="inner2">
              <div class="nav-menu2">Blog</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TERAS FOTO SECTION -->
    
    <div class="photo-sections">
      <img class="image-29" src="./img/teras-background.png" />
      <div class="container">
        <div class="container2">
          <div class="frame-33">
            <div class="badge">
              <div class="badge2">Gallery Museum</div>
            </div>
            <div class="heading-and-supporting-text">
              <div class="frame-40">
                <img class="group-6" src="./img/logo-keraton.png" />
                <div class="heading">Teras foto</div>
              </div>
            </div>
          </div>
          <div class="members">
            <div class="content">
              <div class="member">
                <img class="image-3" src="./img/kereta-kencana.jpg" />
                <div class="content2">
                  <div class="label-and-sublabel">
                    <div class="label2">
                      Kereta Kencana Kagungan Dalem Museum Waharanatha
                    </div>
                  </div>
                </div>
              </div>
              <div class="member">
                <img class="image-4" src="./img/koleksi-museum.webp" />
                <div class="content2">
                  <div class="label-and-sublabel">
                    <div class="label2">
                      Koleksi di Kagungan Dalem Museum Waharanatha
                    </div>
                  </div>
                </div>
              </div>
              <div class="member">
                <img class="image" src="./img/museum-kedhaton.jpg" />
                <div class="content2">
                  <div class="label-and-sublabel">
                    <div class="label2">Kagungan Dalem Museum Kedhaton</div>
                  </div>
                </div>
              </div>
              <div class="member">
                <img class="image" src="./img/taman-sari2.png" />
                <div class="content2">
                  <div class="label-and-sublabel">
                    <div class="label2">
                      Salah satu sudut Kagungan Dalem Taman Sari
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="arrows">
              <div class="carousel-icon">
                <img class="chevron-left" src="./icon/chevron-left.svg" />
              </div>
              <div class="carousel-icon">
                <img class="chevron-right2" src="./icon/chevron-right.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- EXHIBITION SECTION -->
    <div class="image-28"></div>
    <div class="frame-55">
      <div class="frame-41">
        <div class="badge">
          <div class="badge2">Exhibiton and Event</div>
        </div>
        <div class="frame-25">
          <div class="frame-23">
            <div class="frame-39">
              <img class="group-62" src="./img/logo-keraton.png" />
              <div class="title">Kunjungi Acara dan Pameran</div>
            </div>
            <div class="link">
              <div class="group-3-copy-2">
                <div class="view-all-benefits">Lihat Acara dan pameran</div>
                <img class="group" src="./icon/arrow-right.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="cards">
            <img class="image2" src="./img/image0.png" />
            <div class="frame-6">
              <div class="headline-paragraph-and-badge">
                <div class="headline-and-badge">
                  <div class="badge-group">
                    <div class="subtitle">03 January 2023 - 05 January 2023</div>
                  </div>
                  <div class="title2">
                    Effective product marketing techniques for small businesses
                  </div>
                </div>
              </div>
            </div>
            <div class="button2">
              <div class="text">Booking sekarang</div>
              <img class="chevron-right3" src="./icon/chevron-right-gold.svg" />
            </div>
          </div>
          <div class="cards">
            <img class="image2" src="./img/image1.png" />
            <div class="frame-6">
              <div class="headline-paragraph-and-badge">
                <div class="headline-and-badge">
                  <div class="badge-group">
                    <div class="subtitle">03 January 2023 - 05 January 2023</div>
                  </div>
                  <div class="title2">
                    Unlocking the secrets of effective time management
                  </div>
                </div>
              </div>
            </div>
            <div class="button2">
              <div class="text">Booking sekarang</div>
              <img class="chevron-right4" src="./icon/chevron-right-gold.svg" />
            </div>
          </div>
          <div class="cards">
            <img class="image2" src="./img/image2.png" />
            <div class="frame-6">
              <div class="headline-paragraph-and-badge">
                <div class="headline-and-badge">
                  <div class="badge-group">
                    <div class="subtitle">03 January 2023 - 05 January 2023</div>
                  </div>
                  <div class="title3">
                    Launching your product business: From idea to market success
                  </div>
                </div>
              </div>
            </div>
            <div class="button2">
              <div class="text">Booking sekarang</div>
              <img class="chevron-right5" src="./icon/chevron-right-gold.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DESTINATION INDEX & PROMO KUNJUNGAN SECTION -->
    <div class="frame-61">
      <div class="frame-60">
        <div class="frame-59"> <!-- DESTINATION INDEX -->
          <div class="frame-58">
            <div class="badge">
              <div class="badge2">Destinasi</div>
            </div>
            <div class="frame-38">
              <div class="frame-37">
                <img class="group-63" src="./img/logo-keraton.png" />
                <div class="title">Paket Kunjungan Museum</div>
              </div>
              <div class="link2">
                <div class="group-3-copy-2">
                  <div class="view-all-benefits2">Lihat semua Destinasi</div>
                  <img class="group2" src="./icon/arrow-right.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-booking">
            <div class="cards">
              <img class="image2" src="./img/kagungan-dalem.webp" />
              <div class="content3">
                <div class="headline-and-paragrapah">
                  <div class="headline">Kagungan Dalem Museum Kedhaton</div>
                  <div class="paragraph2">
                    Museum Keraton Yogyakarta adalah istana di Yogyakarta,
                    Indonesia, yang menjadi kediaman Sultan dan keluarganya juga
                    sebagai pusat budaya Jawa yang menampilkan artefak kerajaan.
                  </div>
                </div>
                <div class="frame-24">
                  <div class="button2">
                    <div class="text">Informasi detail</div>
                    <img class="chevron-right6" src="./icon/chevron-right-gold.svg" />
                  </div>
                  <div class="button4">
                    <div class="text-lg2">Booking</div>
                    <img
                      class="icon-huge-arrow-right-forward2"
                      src="./icon/arrow-right-gold.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="cards">
              <img class="image2" src="./img/taman-sari.jpg" />
              <div class="content3">
                <div class="headline-and-paragrapah">
                  <div class="headline">
                    Kagungan Dalem
                    <br />
                    Tamansari
                  </div>
                  <div class="paragraph2">
                    Taman Sari Yogyakarta, atau Taman Sari Keraton, adalah bekas
                    taman istana Keraton Yogyakarta yang dibangun oleh Sultan
                    Hamengku Buwono I pada 1758-1765.
                  </div>
                </div>
                <div class="frame-24">
                  <div class="button2">
                    <div class="text">Informasi detail</div>
                    <img class="chevron-right7" src="./icon/chevron-right-gold.svg" />
                  </div>
                  <div class="button5">
                    <div class="text-lg3">Booking</div>
                    <img
                      class="icon-huge-arrow-right-forward3"
                      src="./icon/arrow-right-gold.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="cards">
              <img class="image2" src="./img/wahanarata.jpg" />
              <div class="content3">
                <div class="headline-and-paragrapah">
                  <div class="headline">Kagungan Dalem Museum Wahanarata</div>
                  <div class="paragraph2">
                    Museum Wahanarata, atau Museum Kereta Keraton, terletak di
                    barat Keraton Yogyakarta, tepatnya di Jalan Rotowijayan, dekat
                    kantor Kemantren Kraton.
                  </div>
                </div>
                <div class="frame-24">
                  <div class="button2">
                    <div class="text">Informasi detail</div>
                    <img class="chevron-right8" src="./icon/chevron-right-gold.svg" />
                  </div>
                  <div class="button5">
                    <div class="text-lg3">Booking</div>
                    <img
                      class="icon-huge-arrow-right-forward4"
                      src="./icon/arrow-right-gold.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PROMO KUNJUNGAN SECTION -->
      <div class="cta-promo">
        <div class="rectangle-10"></div>
        <img class="image3" src="./img/image-promo.png" />
        <div class="frame-56">
          <div class="container3">
            <div class="heading2">Promo Kunjungan Museum</div>
            <div
              class="nikmati-acara-eksklusif-akses-tak-terbatas-ke-pameran-dan-ruang-anggota-ditambah-diskon-di-toko-toko-museum-kafe-dan-restoran"
            >
              Nikmati acara eksklusif, akses tak terbatas ke pameran dan Ruang
              Anggota, ditambah diskon di toko-toko Museum, kafe, dan restoran.
            </div>
          </div>
          <div class="actions">
            <div class="button6">
              <div class="text-lg4">Informasi selengkapnya</div>
              <img
                class="icon-huge-arrow-right-forward5"
                src="./icon/arrow-right-gold.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END DESTINEATION INDEX & PROMO KUNJUNGAN SECTION -->
  
  </div>
</body>
</html>