.group-8,
.group-8 * {
  box-sizing: border-box;
}
.group-8 {
  height:2945px;
  position: relative;
  width: 1440px;
}
.frame-30 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 1px;
  top: 0px;
}
.hero-38 {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 835px;
  position: relative;
  overflow: hidden;
}
.hero {
  width: 1440px;
  height: 835px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.image-1 {
  width: 1440px;
  height: 835px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.gradient-dark {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0.07648601313121617%,
    rgba(1, 1, 27, 0.3) 41.892483830451965%,
    rgba(14, 49, 33, 1) 100%
  );
  width: 1440px;
  height: 835px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-14 {
  background: rgba(255, 255, 255, 0.09);
  padding: 33px 30px 33px 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 468px;
  position: absolute;
  left: 106px;
  top: 418px;
  backdrop-filter: blur(20px);
}
.frame-28 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: #404b5a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-29 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.meet-our-team-of-exp {
  color: #e5e7eb;
  text-align: left;
  font-family: "AnekBangla-SemiBold", sans-serif;
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.let-s-talk-about-how {
  color: #9c9c9c;
  text-align: left;
  font-family: "AnekBangla-Regular", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  position: relative;
  width: 384px;
}
.button {
  background: var(--primary, #0e3121);
  border-style: solid;
  border-color: var(--primary, #0e3121);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 290px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.text-lg {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* -webkit-text-stroke: 1px #000000; */
}
.icon-huge-arrow-right-forward {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.frame-22 {
  background: var(--primary, #0e3121);
  padding: 65px 110px 65px 110px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 272px;
  position: relative;
}
.frame-19 {
  display: flex;
  flex-direction: row;
  gap: 87px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-36 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 491px;
  position: relative;
}
.frame-46 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.badge {
  background: var(--semantic-success-50, #f0fdf4);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--semantic-success-200, #bbf7d0);
  border-width: 1px;
  padding: 2px 8px 2px 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.badge2 {
  color: var(--semantic-success-700, #15803d);
  text-align: left;
  font-family: var(
    --caption-small-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--caption-small-medium-font-size, 12px);
  line-height: var(--caption-small-medium-line-height, 18px);
  font-weight: var(--caption-small-medium-font-weight, 500);
  position: relative;
}
.meet-our-team-of-exp2 {
  color: #ffffff;
  text-align: left;
  font-family: "AnekBangla-Medium", sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.button2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text {
  color: var(--gold, #d6a84d);
  text-align: left;
  font-family: var(--body-small-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-small-medium-font-size, 16px);
  line-height: var(--body-small-medium-line-height, 24px);
  font-weight: var(--body-small-medium-font-weight, 500);
  position: relative;
}
.chevron-right {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.paragraph {
  color: #ffffff;
  text-align: justified;
  font-family: "AnekBangla-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 635px;
}
.play-button {
  width: 84px;
  height: 84px;
  position: absolute;
  left: 1095px;
  top: 413px;
}
.navigation {
  background: rgba(255, 255, 255, 0.06);
  border-style: solid;
  border-color: #888888;
  border-width: 0px 0px 1px 0px;
  padding: 23px 105px 23px 105px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  height: 106px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  backdrop-filter: blur(10px);
}
.navigation2 {
  flex-shrink: 0;
  width: 1229px;
  height: 60px;
  position: relative;
  overflow: hidden;
}
.logo-putih-1 {
  width: 140px;
  height: 57px;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.button3 {
  border-style: solid;
  border-color: var(--grays-white, #ffffff);
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 40px;
  position: absolute;
  right: 22px;
  top: 50%;
  translate: 0 -50%;
  box-shadow: var(
    --button-effect-box-shadow,
    inset 0px 2px 0px 0px rgba(255, 255, 255, 0.16),
    inset 0px 8px 16px 0px rgba(255, 255, 255, 0.2)
  );
  overflow: hidden;
}
.text2 {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "AnekBangla-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.frame-13 {
  width: 1240px;
  height: 60px;
  position: absolute;
  left: 200px;
  top: 59px;
  overflow: hidden;
}
.navbar {
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  overflow: hidden;
}
.base-navbar-menu {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
/* .inner {
  background: rgba(14, 49, 33, 0.3);
  border-radius: var(--numbers-radius-base, 8px);
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
} */
.nav-menu {
  color: var(--miscellaneous-text-field-bg, #ffffff);
  text-align: center;
  font-family: "AnekBangla-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.inner2 {
  border-radius: var(--numbers-radius-base, 8px);
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.nav-menu2 {
  color: var(--miscellaneous-text-field-bg, #ffffff);
  text-align: center;
  font-family: "AnekBangla-Medium", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.icon-feather-chevron-dropdown {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.photo-sections {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 826px;
  position: absolute;
  left: 1px;
  top: 2945px;
  overflow: hidden;
}
.container {
  padding: 96px 0px 96px 0px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 1280px;
  position: relative;
}
.frame-33 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 768px;
  position: relative;
}
.heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 768px;
  position: relative;
}
.frame-40 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-6 {
  flex-shrink: 0;
  width: 50px;
  height: 45.95px;
  position: relative;
  overflow: visible;
}
.heading {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: "TenorSans-Regular", sans-serif;
  font-size: 44px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
}
.members {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.member {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 280px;
  max-width: 280px;
  position: relative;
}
.image-3 {
  align-self: stretch;
  flex-shrink: 0;
  height: 365px;
  position: relative;
  object-fit: cover;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label-and-sublabel {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label2 {
  color: var(--text-heading-primary, #111827);
  text-align: left;
  font-family: var(
    --body-large-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-large-semibold-font-size, 18px);
  line-height: var(--body-large-semibold-line-height, 28px);
  font-weight: var(--body-large-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.image-4 {
  flex-shrink: 0;
  width: 280px;
  height: 365px;
  position: relative;
  object-fit: cover;
}
.image {
  flex-shrink: 0;
  width: 280px;
  height: 365px;
  position: relative;
  object-fit: cover;
}
.arrows {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.carousel-icon {
  background: var(--background-bg-primary, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--border-border-secondary, #e5e7eb);
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.chevron-left {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.chevron-right2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.image-28 {
  width: 1440px;
  height: 1338px;
  position: absolute;
  left: 0px;
  top: 835px;
}
.frame-55 {
  background: #ffffff;
  width: 1439px;
  height: 731px;
  position: absolute;
  left: 1px;
  top: 2214px;
  overflow: hidden;
}
.frame-41 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1223px;
  position: absolute;
  left: 109px;
  top: 80px;
}
.frame-25 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-23 {
  display: flex;
  flex-direction: row;
  gap: 329px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-62 {
  flex-shrink: 0;
  width: 50px;
  height: 45.95px;
  position: relative;
  overflow: visible;
}
.title {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: "TenorSans-Regular", sans-serif;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: -1.46px;
  font-weight: 400;
  position: relative;
}
.link {
  flex-shrink: 0;
  width: 199px;
  height: 29px;
  position: relative;
}
.group-3-copy-2 {
  padding: 1px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 103.45%;
  position: absolute;
  left: -0.75px;
  bottom: 1.72%;
  top: -5.17%;
  overflow: hidden;
}
.view-all-benefits {
  color: var(--grays-black, #000000);
  text-align: left;
  font-family: var(--small-1-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--small-1-regular-font-size, 15px);
  line-height: var(--small-1-regular-line-height, 28px);
  letter-spacing: var(--small-1-regular-letter-spacing, -0.83px);
  font-weight: var(--small-1-regular-font-weight, 400);
  position: relative;
}
.group {
  flex-shrink: 0;
  width: 29.5px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 384px;
  min-width: 280px;
  max-width: 384px;
  position: relative;
}
.image2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 256px;
  position: relative;
  object-fit: cover;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.headline-paragraph-and-badge {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.headline-and-badge {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.badge-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.subtitle {
  color: var(--body-font, #4b5563);
  text-align: left;
  font-family: var(
    --caption-large-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--caption-large-regular-font-size, 14px);
  line-height: var(--caption-large-regular-line-height, 20px);
  font-weight: var(--caption-large-regular-font-weight, 400);
  position: relative;
}
.title2 {
  color: var(--body-font, #4b5563);
  text-align: left;
  font-family: "TenorSans-Regular", sans-serif;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.chevron-right3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.chevron-right4 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.title3 {
  color: var(--body-font, #4b5563);
  text-align: left;
  font-family: "TenorSans-Regular", sans-serif;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chevron-right5 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.image-29 {
  width: 1441px;
  height: 825px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2945px;
  object-fit: cover;
}
.frame-61 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 1px;
  top: 1107px;
}
.frame-60 {
  background: #fef9ec;
  padding: 51px 108px 51px 108px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 821px;
  position: relative;
}
.frame-59 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1220px;
  position: relative;
}
.frame-58 {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 401px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-37 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-63 {
  flex-shrink: 0;
  width: 50px;
  height: 45.95px;
  position: relative;
  overflow: visible;
}
.link2 {
  flex-shrink: 0;
  width: 303px;
  height: 29px;
  position: relative;
}
.view-all-benefits2 {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: var(--small-1-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--small-1-regular-font-size, 18px);
  line-height: var(--small-1-regular-line-height, 28px);
  letter-spacing: var(--small-1-regular-letter-spacing, -0.83px);
  font-weight: var(--small-1-regular-font-weight, 400);
  position: relative;
}
.group2 {
  flex-shrink: 0;
  width: 29.5px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.card-booking {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.headline-and-paragrapah {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.headline {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: "AnekBangla-Regular", sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.paragraph2 {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: var(
    --body-small-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-small-regular-font-size, 16px);
  line-height: var(--body-small-regular-line-height, 24px);
  font-weight: var(--body-small-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-24 {
  display: flex;
  flex-direction: row;
  gap: 102px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.chevron-right6 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.button4 {
  /* background: var(--primary, #0e3121);
  border-style: solid;
  border-color: var(--primary, #0e3121); */
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 135px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.text-lg2 {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-huge-arrow-right-forward2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.chevron-right7 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.button5 {
  /* border-style: solid;
  border-color: var(--primary, #0e3121);
  border-width: 1px; */
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 135px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.text-lg3 {
  color: var(--primary, #0e3121);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-huge-arrow-right-forward3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.chevron-right8 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.icon-huge-arrow-right-forward4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.cta-promo {
  align-self: stretch;
  flex-shrink: 0;
  height: 286px;
  position: relative;
}
.rectangle-10 {
  background: var(--primary, #0e3121);
  width: 1440px;
  height: 286px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image3 {
  width: 1440px;
  height: 286px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.frame-56 {
  display: flex;
  flex-direction: row;
  gap: 349px;
  align-items: center;
  justify-content: flex-start;
  width: 1238px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 639px;
  position: relative;
}
.heading2 {
  color: var(--gold, #d6a84d);
  text-align: left;
  font-family: "TenorSans-Regular", sans-serif;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  width: 100%;
  max-width: 592px;
  -webkit-text-stroke: 1px #000000;
}
.nikmati-acara-eksklusif-akses-tak-terbatas-ke-pameran-dan-ruang-anggota-ditambah-diskon-di-toko-toko-museum-kafe-dan-restoran {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "AnekBangla-Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 61px;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.button6 {
  border-style: solid;
  border-color: var(--grays-white, #ffffff);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 249px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.text-lg4 {
  color: var(--grays-white, #ffffff);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-huge-arrow-right-forward5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
