.hero-cards-section {
  position: relative;
  background: linear-gradient(
      180deg, rgba(0, 0, 0, 0.61) 0.076%,
      rgba(1, 1, 27, 0.12) 41.892%,
      #2D5D2B 100%
    ),
    url('/img/museumkedhaton.png') no-repeat center center / cover;
  color: white;
  text-align:left;
  padding: 150px 0;
  padding: 150px 0;
  position: relative;
}
.hero-cards-section h1 {
  font-size: 2.5rem;
  font-weight: medium;
  margin-bottom: 40px;
  margin-left: 60px;
}
.card {
  border: none;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(1);
}
.carousel-control-prev, .carousel-control-next {
  width: auto; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 40px;
  height: 40px;
}
.card img {
  height: 180px; 
  width: 100%; 
  object-fit: cover;
  border-radius: 8px;
}
.carousel-inner {
  position: relative;
  padding: 0 60px; 
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.card-text {
  margin-top: 10px;
  font-size: 15px;
  color: white;
}
.rectangle-9 {
  background: #2d5d2b;
  width: 85px;
  height: 80px;
  position: absolute;
  top: 670px;
  left: 114px;
}
@media (max-width: 768px){
  .konten-slider{
    margin-top: 115px;
  }
}