.contact-section {
  background: linear-gradient(to bottom, #032415 27%, #fff7e6 27%);
  padding: 20px;
  border-radius: 8px;
  width: 80%; 
  margin: 0 auto; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-column, .right-column {
  flex: 1 1 48%;
  margin-bottom: 20px;
}

.left-column {
  color: #032415;
  font-size: 12px;
}

.form-control, .form-label {
  font-size: 14px; 
  margin: 4px 0;
  color: #032415;
  font-size: 12px;
}

.info-card{
  background-color: #ffffff;
}

.btn-submit {
  background-color: #ffffff;
  color: #032415;
  padding: 7px 9px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 12px;
}

.btn-submit:hover {
  background-color: #0E3121;
  color: #D6A84D;
}

@media (max-width: 768px) {
  .left-column, .right-column {
      flex: 1 1 100%; /* Each column takes full width */
  }
}

@media (max-width: 480px){
  .contact-section {
      width: 95%; /* Takes more screen space for better visibility */
  }
}