/* komen baru */
.text{
  color: #d6a84d;
}
.title2{
  font-family:  'TenorSans-Regular', sans-serif;
  font-size: 1.4rem;
}
.exhibition-event{
  background-color: #BBF7D0; 
  color:#15803D;
  font-family: 'TenorSans-Regular', sans-serif;
}

.icon-hover:hover .icon {
  filter: invert(1); /* Inverts the black to white */
}

