.hero-section {
  position: relative;
  height: 835px;
  overflow: hidden;
  
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0.07%,
      rgba(1, 1, 27, 0.3) 41.89%,
      rgba(14, 49, 33, 1) 100%
  );
}

.content-box {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(20px);
  padding: 33px 30px;
  max-width: 468px;
  position: absolute;
  left: 9%;
  bottom: 10%;
  
}

.welcome-label {
  color: #404b5a;
  font-size: 16px;
  line-height: 38px;
  margin-bottom: 12px;
}

.title {
  /* color: #ffffff; */
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 18px;
}

.subtitle {
  color: #9c9c9c;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 35px;
}

.custom-button {
  background-color: #0e3121;
  border: 1px solid #0e3121;
  color: white;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  height: 48px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
      height: 100vh;
  }

  .content-box {
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      max-width: 400px;
      bottom: 50px;
  }

  .title {
      font-size: 24px;
      line-height: 28px;
  }

  .subtitle {
      font-size: 16px;
      line-height: 22px;
  }
}

@media (max-width: 480px) {
  .content-box {
      padding: 20px;
      
  }

  .title {
      font-size: 20px;
      line-height: 24px;
  }
  .hero-section{
    height: 720px;
  }
}
